<section class="section hero">
  <div class="container hero-star">
    <div class="hero-block">
      <div class="hero-block-title-and-button">
        <div  class="hero-block-title"
              data-aos="fade-up"
              data-aos-duration="2000">
              <h1 class="hero-title">Reviving the traditional
              <span class="hero-title-span">Ukrainian</span> artistry in every  stitch.     </h1>
        </div>
        <!-- class="hero-block-title" -->

        <a class="hero-link" href="#customer-order">
          Order
          <svg
            class="hero-link-icon"
            width="24"
            height="20"
            aria-label="icon-arrow"  >
            <use href="/img/icons.svg#icon-arrow"></use>
          </svg>
        </a>
        
      </div>
      <!-- class="hero-block-title-and-button" -->

        <div class="carousel-container">
         <div class="carousel">
            <div class="carousel-track">
                <div class="carousel-item">
                    <picture>
                        <source
              srcset="
                /img/hero/mob/mob-hero-white.jpg    1x,
                /img/hero/mob/mob-hero-white@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                /img/hero/tab/tab-hero-white.jpg    1x,
                /img/hero/tab/tab-hero-white@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/hero/desk/desk-hero-white.jpg    1x,
                /img/hero/desk/desk-hero-white@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/img/hero/mob/mob-hero-white.jpg" alt="Girl in blouse" />
          </picture>
                </div>
                <div class="carousel-item">
                    <picture>
                        <source
              srcset="
                /img/hero/mob/mob-hero-black.jpg    1x,
                /img/hero/mob/mob-hero-black@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                /img/hero/tab/tab-hero-black.jpg    1x,
                /img/hero/tab/tab-hero-black@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/hero/desk/desk-hero-black.jpg    1x,
                /img/hero/desk/desk-hero-black@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/img/hero/mob/mob-hero-black.jpg" alt="Girl in blouse" />
          </picture>
                </div>
                <div class="carousel-item">
                    <picture>
                        <source
              srcset="
                /img/hero/mob/mob-hero-blue.jpg     1x,
                /img/hero/mob/mob-hero-blue.@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                /img/hero/tab/tab-hero-blue.jpg     1x,
                /img/hero/tab/tab-hero-blue.@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/hero/desk/desk-hero-blue.jpg     1x,
                /img/hero/desk/desk-hero-blue.@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/img/hero/mob/mob-hero-blue.jpg" alt="Girl in blouse" />
          </picture>
                </div>
                <div class="carousel-item">
                    <picture>
                        <source
              srcset="
                /img/hero/mob/mob-hero-brown.jpg     1x,
                /img/hero/mob/mob-hero-brown.@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                /img/hero/tab/tab-hero-brown.jpg     1x,
                /img/hero/tab/tab-hero-brown.@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/hero/desk/desk-hero-brown.jpg     1x,
                /img/hero/desk/desk-hero-brown.@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/img/hero/mob/mob-hero-brown.jpg" alt="Girl in blouse" />
          </picture>
                </div>
                <div class="carousel-item">
                    <picture>
                        <source
              srcset="
                /img/hero/mob/mob-hero-white-blue.jpg     1x,
                /img/hero/mob/mob-hero-white-blue.@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                /img/hero/tab/tab-hero-wgite-blue.jpg     1x,
                /img/hero/tab/tab-hero-white-blue@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/hero/desk/desk-hero-white-blue.jpg     1x,
                /img/hero/desk/desk-hero-white-blue.@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/img/hero/mob/mob-hero-white-blue.jpg"
              alt="Girl in blouse"
            />
          </picture>
                </div>
                <div class="carousel-item">
                    <picture>
                        <source
              srcset="
                /img/hero/mob/mob-hero-green.jpg     1x,
                /img/hero/mob/mob-hero-green.@2x.jpg 2x
              "
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                /img/hero/tab/tab-hero-green.jpg     1x,
                /img/hero/tab/tab-hero-green.@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/hero/desk/desk-hero-green.jpg     1x,
                /img/hero/desk/desk-hero-green.@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/img/hero/mob/mob-hero-green.jpg" alt="Girl in blouse" />
          </picture>
        </div>
        <!--  class="carousel" -->
        
</div>
      </div>
      <!--  class="carousel-container" -->

    </div>
    <!--  class="hero-block" -->

    <div class="hero-group">
      <svg
        class="hero-group-icon"
        width="52"
        height="51"
        aria-label="icon-star"
      >
        <use href="./img/icons.svg#icon-star"></use>
      </svg>
      <p class="hero-group-text">all embroidery is made by hand</p>
    </div>
    <!-- class="hero-group" -->

  </div>
  <!-- class="container hero-star" -->
</section>

