.our-collection {
  background-image: url(/img/ornaments/yellow-ornament.png);
  background-size: 199px 177px;
  background-repeat: no-repeat;
  background-position: -127px 250px;
  cursor: default;
}

@media screen and (min-width: 375px) {
  .our-collection {
    background-position: -127px 330px;
  }
}

.collection-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.37;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  text-align: center;
  margin-bottom: 40px;
  transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section:hover .collection-title,
.section:focus .collection-title {
  color: #ecd979;
}

.collection-item {
  transition: all 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.collection-item:hover .collection-price,
.collection-item:focus .collection-price {
  color: #ecd979;
  font-size: 18px;
}

.collection-item:hover .collection-model-text,
.collection-item:focus .collection-model-text {
  color: #ecd979;
}

.card-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 18px;
}

.card-back {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background-color: #fcf9f9;
  color: #1c2225;
  overflow: auto;
  opacity: 0.9;
  padding: 15px;
  font-weight: 400;
  font-size: 16px;
}

.card-back p {
  margin-bottom: 10px;
}

.collection-order-form {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 0 auto;
}

.collection-order-item {
  display: flex;
  flex-direction: column;
  column-gap: 8px;
  width: 65px;
  font-size: 16px;
  margin-bottom: 10px;
}

.collection-order-item label {
  opacity: 0.8;
  font-size: 14px;
}

.collection-order-form-box p {
  font-size: 18px;
  text-align: center;
}

.collection-order-form-button {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.collection-order-form-button button,
.collection-order-form-button a {
  border: 1px solid #1c2225;
  border-radius: 5px;
  background-color: transparent;
  padding: 4px 6px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #1c2225;
  transition: all 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

.collection-order-form-button button:hover,
.collection-order-form-button button:focus,
.collection-order-form-button a:hover,
.collection-order-form-button a:focus {
  background-color: #ecd979;
}

.collection-item:hover .card-back,
.collection-item:focus .card-back {
  top: 60%;
  transition: 950ms cubic-bezier(0.4, 0, 0.2, 1);
}

.collection-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.collection-model-text,
.collection-price {
  transition: all 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.collection-model-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fcf9f9;
  transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.collection-product {
  position: relative;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.favorite-icon svg {
  fill: #000000;
  transition: fill 0.3s ease;
}

.favorite-icon:hover svg,
.favorite-icon:focus svg {
  fill: #ecd979;
}

.backet-icon {
  position: absolute;
  top: 40px;
  right: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backet-icon svg {
  fill: #000000;
  transition: fill 0.3s ease;
}

.backet-icon:hover svg,
.backet-icon:focus svg {
  fill: #ecd979;
}

@media screen and (min-resolution: 192dpi) and (min-width: 320px) {
  .footer-container {
    background-image: url(/img/ornaments/yellow-ornament@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .our-collection {
    background-size: 328px 330px;
    background-position: -218px 20px;
  }

  .collection-title {
    font-size: 44px;
    line-height: 1.45;
  }

  .collection-model-text {
    font-size: 18px;
  }

  .collection-menu {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .collection-item {
    flex-basis: calc((100% - 20px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .collection-item {
    flex-basis: calc((100% - 40px) / 3);
    row-gap: 40px;
  }
}